<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <machineKey decryption="AES" decryptionKey="485216329295409E4BBF3E3DE11758213920BE127A496E0CBDEA21D36D1556A8" validation="HMACSHA256" validationKey="F81227FF9D9E8D6FA4E778EB7B429437D36B3C32B82BF120880B9A57514F2AC1E1BC55CD8E3C711AA11F1CE8054AAE29AF571CF881D69E59AB59B7DA9ACC0C3D"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar7.fulton.asu.edu/Page1/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="AssignmentRefs.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>